@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-mono
}

.main-box {
    @apply container flex flex-row 
}

.route-page {
    @apply h-screen w-3/4 ml-auto mr-auto;
    max-width: 70%;
}

.side-bar {
    @apply w-2/12 border-l border-slate-200 min-h-full
}

.menu-brand-div {
    @apply px-2 self-center
}

.menu-center-div {
    @apply justify-self-center self-center sm:hidden md:flex
}

.menu-right-div {
    @apply self-center justify-end flex flex-row
}

.menu-item {
    @apply px-4 py-2 mt-2 text-sm font-semibold text-teal-800 visited:text-teal-800 bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-none hover:no-underline 
}

.drop-menu {
    @apply origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none
}

.menu-brand {
    @apply text-teal-700 font-bold text-lg px-2 py-1 mt-2 bg-transparent rounded-lg 
    md:mt-0 md:ml-4 hover:text-teal-900 focus:text-teal-900 
    focus:bg-gray-200 focus:outline-none focus:shadow-none hover:no-underline 
    visited:text-teal-700
}

#menu-button {
    @apply inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500
}

.navbar {
    @apply z-50 flex drop-shadow-sm shadow-sm shadow-black  fixed bg-white  min-w-max justify-between w-screen top-0 left-0 right-0 p-2
}

.page-footer {
    @apply  p-6 bottom-0  flex flex-row items-center w-screen bg-slate-800  text-slate-300
}


.post {
    @apply left-auto right-auto mr-20 mt-20 w-3/4 overflow-y-scroll text-justify;
    position: fixed !important    ;
    height: 80% !important;
    min-height: 200px;
    padding-bottom: 200px ;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    
    
}

.post::-webkit-scrollbar {
    display: none;
  }

.post-title {
    @apply text-4xl 
}

.post-author {
    @apply text-sm
}

.post-date {
    @apply text-sm mb-6 
}

.post-content {
    @apply  left-24 top-48 bottom-16  overflow-x-visible;
   
}

.post-content h1 {
    @apply text-3xl mt-4 mb-4
}

.post-content h2 {
    @apply text-2xl   mt-2 mb-2
}

.post-content blockquote {
    @apply ml-8 italic p-2 border-l-4 border-slate-300
}

.post-content p {
    @apply text-base 
}

.post-content img {
    @apply ml-auto mr-auto mt-3 mb-3
}

.post-content * {
    @apply mt-3
}

.post-interaction {
    @apply flex flex-row-reverse absolute h-1/4 justify-between bg-white 
    min-h-fit h-1/2 p-4 left-6 top-48 shadow-lg z-50;
}

.post-interaction-1 {
    @apply flex flex-col justify-between
}

.post-interaction-2 {
    @apply flex flex-col
}

.action-clickable {
    @apply text-slate-500 hover:text-teal-400 w-6 h-6 mt-4 border-none
}

.action-active {
    @apply text-teal-800
}

.comment-adder {
    @apply flex flex-col p-2 w-1/2 left-auto right-0
}

.comment-adder .control input {
    @apply border-0 w-full rounded-none h-16
}

.comment-adder button {
    @apply bg-teal-300 text-white
}

.comment-box {
    @apply ml-6 overflow-y-scroll
}

.comment-box .comment-box {
    @apply border-l-4
}

.comment-card {
    @apply bg-teal-50
}

.comment-card-user {
    @apply flex items-center
}


.comment-card-content {
    @apply mt-2 mb-2 ml-4 border-b-2
}

.comment-card-media {
    @apply flex 
}

.comment-card-actions {
    @apply flex flex-col
}

.cat-page {
    @apply flex flex-col  mt-20 
}

.cat-title {
    @apply text-4xl m-2 p-2 
}

.post-card {
    @apply m-2 pb-2 pt-2 flex flex-col border-b border-slate-200 rounded-none
}

.post-card-meta {
    @apply inline-flex content-center items-center
}

.post-card-meta * {
    @apply whitespace-nowrap ml-1 text-sm overflow-ellipsis overflow-x-clip flex-nowrap self-center justify-self-center
}

.post-card-title {
    @apply mt-2 mb-2 font-bold text-2xl visited:text-teal-900 text-teal-900 hover:no-underline hover:text-teal-600
}

.post-card-author {
    @apply text-sm visited:text-teal-900 text-teal-900 hover:no-underline hover:text-teal-600
}

.post-card-time {
    @apply text-slate-600 text-sm
}

.profile-inline {
    @apply inline rounded-full border-2 border-white align-middle self-center shadow-md ;
    width: 32px;
    height: 32px;
}

.post-card-content {
    @apply text-sm text-slate-800
}

.post-card-image {
    @apply w-48 h-48 object-center object-cover overflow-hidden
}

.keyword {
    @apply rounded-md whitespace-nowrap overflow-x-clip overflow-ellipsis p-2 self-center bg-slate-200 p-0.5 text-xs mr-1 hover:no-underline
}

.reading-time {
    @apply text-xs text-slate-400 self-center
}

.media-left {
    @apply p-2 w-8/12 flex flex-col
}

.media-content {
   @apply ml-4 min-w-fit max-w-fit
}

.media-bar {
    @apply mt-2 inline-flex overflow-x-auto 
}

.box {
    @apply container max-w-lg ml-auto mr-auto mt-20 text-center flex
}

.login-page {
    @apply w-screen h-screen flex 
}

.login-page nav {
    @apply hidden
}

.login-box {
    @apply left-0 w-4/12 min-w-max container text-center flex flex-col place-content-center p-4 shadow-md
}

.login-bg {
    @apply w-full bg-teal-300 bg-repeat bg-blend-overlay;
    background-image: url('../assets/bg.svg');
}

.switch-button {
    @apply font-mono p-2 bg-transparent text-base border-none 
}

.control {
    @apply p-2 w-full
}

.control input {
    @apply font-mono autofill:bg-teal-200  rounded-3xl
}

.control button {
    @apply font-mono p-3 bg-teal-800 text-base text-white rounded-3xl
}

.loading-wrapper {
    @apply fixed left-0 right-0 top-0 bottom-0 flex opacity-80  bg-gradient-to-b overflow-clip from-slate-100 bg-teal-600;
    z-index: 100;
}

.loading-wrapper p {
    @apply text-white text-lg font-bold ml-auto mr-auto 
}

.new-article-page {
    @apply ml-20 mr-20 mt-20 flex flex-col
}

.new-article-page {

}

.new-article-top-bar {
    @apply inline-flex justify-between items-center fixed w-3/4 top-20 left-auto right-auto
}

.new-article-top-bar input,select {
    @apply border-0 rounded-none
}

.article-editor {
    @apply fixed left-24 top-36 bottom-16 overflow-x-visible w-3/4;
    height: 70% !important;
    min-height: 200px;
    position: fixed !important;
    
}

ql-formats button {
    width: 40px !important;
    height: 40px !important;
}

.ql-editor img {
    @apply ml-auto mr-auto mt-3 mb-3 hover:border-teal-700 hover:border
}

.ql-editor * {
   margin-top: 12px !important;
}

.select {
    @apply w-full rounded-full
}

.select select  {
    @apply font-mono autofill:bg-teal-200 p-2 m-2 w-full rounded-3xl focus-visible:border-teal-500

}